<header>
    <nav>
        <h1>AppWithIdentity</h1>
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Home" asp-action="ProtectedView">ProtectedView</a>
        <partial name="_Login"/>
    </nav>
</header>

<main>
    @RenderBody()
</main>